# Cars 4 You: Expediting Car Evaluations with Machine Learning

## Problem Statement

**Cars 4 You** is an online car resale company that buys vehicles from different brands through its platform.  
Users submit details about their cars, which are then sent for mechanic evaluation before resale.

Due to rapid growth, the company faces **delays in car inspections**, leading to loss of potential customers.  
To solve this, the company wants a **predictive model** capable of estimating the **price of a car based on user-provided inputs**, without needing a physical evaluation.

## Project Objectives

The overall project is structured into three main goals (for the final submission), but the **first deliverable** focuses on the **initial stages** of this workflow.

### 1. Regression Benchmarking
Develop a regression model that predicts car prices (`price`) using the 2020 Cars 4 You dataset.  
Implement a consistent **model assessment strategy** to compare models and select the most generalizable one.

### 2. Model Optimization
Later in the project, explore model optimization through:
- Hyperparameter tuning  
- Feature engineering and preprocessing adjustments  

Compare and discuss the performance improvements.

### 3. Additional Insights
Open-ended exploration for the final project phase (e.g., feature importance, ablation study, specialized models, deep learning).

## Dataset Description

You have access to two datasets:

- **Training Set:** Cars from the 2020 Cars 4 You database, including prices (`price`).
- **Test Set:** Same descriptive features but without prices ‚Äî used for Kaggle submission.

### Variables

| Attribute | Description |
|------------|-------------|
| **carID** | Unique identifier for each car |
| **Brand** | Car brand (e.g., Ford, Toyota) |
| **model** | Car model |
| **year** | Year of registration |
| **mileage** | Distance travelled (in miles) |
| **tax** | Road tax applicable in 2020 (in ¬£) |
| **fuelType** | Fuel type (Diesel, Petrol, Hybrid, Electric) |
| **mpg** | Miles per gallon |
| **engineSize** | Engine size in liters |
| **paintQuality%** | Mechanic‚Äôs paint and hull assessment |
| **previousOwners** | Number of previous owners |
| **hasDamage** | Boolean (True/False) ‚Äî damaged or not |
| **price** | Target variable ‚Äî purchase price (¬£) |

## FIRST DELIVERABLE ‚Äî Task Overview

This initial assignment is a **preparatory milestone** for your final project.  
You will **explore, prepare, and model** the dataset to demonstrate an understanding of the full ML pipeline.

Your submission must include:

1. A **Jupyter Notebook** (or a ZIP of notebooks) with code and explanatory Markdown cells.
2. A **2-page PDF** describing your pipeline‚Äôs structure and rationale.

### Naming Convention
Homework_Group36

## DELIVERABLE TASKS & POINT DISTRIBUTION

### 1. Data Import & Exploration ‚Äî *3 points*
- Load and inspect the dataset contents.  
- Generate **descriptive statistics**.  
- Detect and describe **inconsistencies or anomalies**.  
- Perform **visual exploration** (univariate & multivariate).  
- Extract **insights** and explain your findings.


### 2. Data Cleaning & Preprocessing ‚Äî *5 points*
- Identify and **handle missing values** appropriately.  
- Detect and manage **outliers**, justifying your choices.  
- Encode **categorical variables**.  
- Evaluate existing features and, if relevant, **create new ones** with explanations.  
- Apply **data scaling/normalization**, explaining why your approach fits the problem.


### 3. Feature Selection ‚Äî *3 points*
- Define a **clear feature selection strategy**.  
- Use **course-approved methods** (e.g., correlation, recursive elimination, model-based).  
- Present and justify your **final feature set**.


### 4. Model Building & Performance Assessment ‚Äî *4 points*
- Identify the **problem type** (regression).  
- Choose relevant **algorithms** (linear models, tree-based, etc.).  
- Define one **model assessment strategy** (e.g., holdout, k-fold cross-validation).  
- Justify the **evaluation metrics** (e.g., RMSE, MAE, R¬≤).  
- Train **at least one model** and generate **predictions for the test set**.

üí° **Bonus:** +1 point if your team ranks in the **Top 5 on Kaggle**.



### 5. Pipeline Structure & Documentation (PDF) ‚Äî *5 points*
- Provide a **schematic of your full pipeline**:
  - Data cleaning  
  - Feature preprocessing  
  - Feature selection  
  - Model training and evaluation  
- Include concise explanations of:
  - What is done  
  - To which variables  
  - Why each step is taken
- Maintain **clarity, structure, and readability** throughout.


### Total Scoring
| Component | Points |
|------------|---------|
| Data Exploration | 3 |
| Preprocessing | 5 |
| Feature Selection | 3 |
| Model Building | 4 |
| Pipeline Documentation | 5 |
| **Total** | **20 points** |
| **Bonus (Top 5 Kaggle)** | **+1** |
| **Final Grade = min(20, your points)** |  |


## Completion Checklist

| Task | Done? |
|------|-------|
| Dataset imported and explored | ‚òê |
| Missing values handled | ‚òê |
| Outliers addressed | ‚òê |
| Categorical variables encoded | ‚òê |
| Features scaled and/or engineered | ‚òê |
| Feature selection strategy implemented | ‚òê |
| Regression model trained | ‚òê |
| Performance metrics explained | ‚òê |
| Predictions generated for test set | ‚òê |
| Pipeline described in PDF | ‚òê |
| Kaggle submission tested | ‚òê |
| Notebook clean, commented, and executable | ‚òê |

## Imports

In [1]:
# general imports that we will need
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

# data partition
from sklearn.model_selection import train_test_split

# filter methods
# - spearman 
# - chi-square
import scipy.stats as stats
from scipy.stats import chi2_contingency

#wrapper methods
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.feature_selection import RFE

# embedded methods
from sklearn.linear_model import LassoCV

# ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Custom functions and variables
from functions import histogram_boxplot, labeled_barplot, stacked_barplot, distribution_plot_wrt_target 
from vocab_prep import BRAND_MODEL_VOCAB

#set random seed for reproducibility
RSEED = 42
np.random.seed(RSEED)
pd.set_option('display.max_rows', 500)

## Loading the data and data overview

### Data Loading

In [2]:
# this loads the train data 
train_raw = pd.read_csv('project_data/train.csv')

In [3]:
train_raw.head()

,carID,Brand,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,paintQuality%,previousOwners,hasDamage
0,69512,VW,Golf,2016.0,22290,Semi-Auto,28421.0,Petrol,NaN,11.417268,2.0,63.0,4.000000,0.0
1,53000,Toyota,Yaris,2019.0,13790,Manual,4589.0,Petrol,145.0,47.900000,1.5,50.0,1.000000,0.0
2,6366,Audi,Q2,2019.0,24990,Semi-Auto,3624.0,Petrol,145.0,40.900000,1.5,56.0,4.000000,0.0
3,29021,Ford,FIESTA,2018.0,12500,anual,9102.0,Petrol,145.0,65.700000,1.0,50.0,-2.340306,0.0
4,10062,BMW,2 Series,2019.0,22995,Manual,1000.0,Petrol,145.0,42.800000,1.5,97.0,3.000000,0.0

### Verify that carID can be used as index

In [4]:
train_raw['carID'].is_unique

True

In [5]:
train_raw['carID'].isna().any()

np.False_

### Set carID as index

In [6]:
train_raw.set_index('carID', inplace = True)

In [7]:
train_raw.sort_index(inplace =True)

In [8]:
train_raw.head(3)

,Brand,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,paintQuality%,previousOwners,hasDamage
carID,,,,,,,,,,,,,
0,Aud,A3,2016.0,10990,Manual,57097.0,Diesel,0.0,83.1,1.6,75.0,4.0,0.0
1,Audi,A7,2017.0,22999,Semi-Auto,24337.0,diesel,150.0,55.4,3.0,31.0,0.0,0.0
2,Audi,A4,2016.0,14242,Manual,14900.0,Petrol,125.0,53.3,1.4,65.0,4.0,0.0

## Data Import and Exploration

In [9]:
train = train_raw.copy()

In [10]:
train.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Brand,74452,72,Ford,14808,NaN,NaN,NaN,NaN,NaN,NaN,NaN
model,74456,735,Focus,6353,NaN,NaN,NaN,NaN,NaN,NaN,NaN
year,74482.0,NaN,NaN,NaN,2017.096611,2.208704,1970.0,2016.0,2017.0,2019.0,2024.121759
price,75973.0,NaN,NaN,NaN,16881.889553,9736.926322,450.0,10200.0,14699.0,20950.0,159999.0
transmission,74451,40,Manual,38050,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mileage,74510.0,NaN,NaN,NaN,23004.184088,22129.788366,-58540.574478,7423.25,17300.0,32427.5,323000.0
fuelType,74462,34,Petrol,37995,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tax,68069.0,NaN,NaN,NaN,120.329078,65.521176,-91.12163,125.0,145.0,145.0,580.0
mpg,68047.0,NaN,NaN,NaN,55.152666,16.497837,-43.421768,46.3,54.3,62.8,470.8
engineSize,74457.0,NaN,NaN,NaN,1.660136,0.573462,-0.103493,1.2,1.6,2.0,6.6
paintQuality%,74449.0,NaN,NaN,NaN,64.590667,21.021065,1.638913,47.0,65.0,82.0,125.594308
previousOwners,74423.0,NaN,NaN,NaN,1.99458,1.472981,-2.34565,1.0,2.0,3.0,6.258371
hasDamage,74425.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 75973 entries, 0 to 75972
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           74452 non-null  object
 1   model           74456 non-null  object
 2   year            74482 non-null  float64
 3   price           75973 non-null  int64
 4   transmission    74451 non-null  object
 5   mileage         74510 non-null  float64
 6   fuelType        74462 non-null  object
 7   tax             68069 non-null  float64
 8   mpg             68047 non-null  float64
 9   engineSize      74457 non-null  float64
 10  paintQuality%   74449 non-null  float64
 11  previousOwners  74423 non-null  float64
 12  hasDamage       74425 non-null  float64
dtypes: float64(8), int64(1), object(4)
memory usage: 8.1+ MB

In [12]:
# let's check the data types
train.sample(10)

,Brand,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,paintQuality%,previousOwners,hasDamage
carID,,,,,,,,,,,,,
69512,VW,Golf,2016.0,22290,Semi-Auto,28421.000000,Petrol,NaN,11.417268,2.0,63.0,4.000000,0.0
53000,Toyota,Yaris,2019.0,13790,Manual,4589.000000,Petrol,145.0,47.900000,1.5,50.0,1.000000,0.0
6366,Audi,Q2,2019.0,24990,Semi-Auto,3624.000000,Petrol,145.0,40.900000,1.5,56.0,4.000000,0.0
29021,Ford,FIESTA,2018.0,12500,anual,9102.000000,Petrol,145.0,65.700000,1.0,50.0,-2.340306,0.0
10062,BMW,2 Series,2019.0,22995,Manual,1000.000000,Petrol,145.0,42.800000,1.5,97.0,3.000000,0.0
14704,BMW,3 Series,2014.0,8199,anual,101153.348285,Diesel,30.0,65.700000,2.0,74.0,0.000000,0.0
6924,Audi,A3,2017.0,16089,Manual,21396.000000,Petrol,20.0,60.100000,1.4,75.0,4.000000,0.0
50783,Skoda,Octavia,2017.0,7500,Manual,116750.000000,Diesel,145.0,68.900000,1.6,59.0,4.000000,0.0
67071,VW,Passat,2017.0,15999,Semi-Auto,30339.000000,Diesel,150.0,62.800000,2.0,85.0,4.000000,0.0
23348,Ford,Focus,2019.0,15300,Manual,10700.000000,Petrol,150.0,60.100000,1.0,35.0,1.000000,0.0

In [13]:
# x_train, x_val, y_train, y_val = train_test_split(df.drop(columns=['price']), df['price'], test_size=0.2, shuffle=True, random_state=RSEED)

### Brand

In [14]:
# display all unique values 
train['Brand'].unique()

array(['Aud', 'Audi', nan, 'audi', 'udi', 'AUDI', 'UDI', 'ud', 'aud',
       'AUD', 'BMW', 'MW', 'bmw', 'BM', 'mw', 'Ford', 'ford', 'for',
       'FORD', 'For', 'ord', 'ORD', 'FOR', 'or', 'Hyundai', 'Hyunda',
       'yundai', 'hyundai', 'HYUNDAI', 'hyunda', 'HYUNDA', 'yunda',
       'Mercedes', 'mercedes', 'MERCEDES', 'ercedes', 'Mercede', 'ercede',
       'ERCEDES', 'MERCEDE', 'mercede', 'Skoda', 'koda', 'SKODA', 'Skod',
       'SKOD', 'skoda', 'kod', 'skod', 'KODA', 'Toyota', 'toyota',
       'TOYOTA', 'Toyot', 'oyota', 'TOYOT', 'OYOTA', 'toyot', 'Opel',
       'pel', 'opel', 'Ope', 'OPEL', 'OPE', 'PEL', 'ope', 'pe', 'VW', 'W',
       'v', 'V', 'vw', 'w'], dtype=object)

In [15]:
# change all values to lower case and strip starting and ending spaces
train['Brand'] = train['Brand'].str.lower().str.strip()

In [16]:
np.array(sorted(train['Brand'].dropna().unique()))

array(['aud', 'audi', 'bm', 'bmw', 'ercede', 'ercedes', 'for', 'ford',
       'hyunda', 'hyundai', 'kod', 'koda', 'mercede', 'mercedes', 'mw',
       'ope', 'opel', 'or', 'ord', 'oyota', 'pe', 'pel', 'skod', 'skoda',
       'toyot', 'toyota', 'ud', 'udi', 'v', 'vw', 'w', 'yunda', 'yundai'],
      dtype='<U8')

In [48]:
# Correct misspelled values in 'Brand' column
BRAND_CORRECTIONS = {
    'aud': 'audi',
    'udi': 'audi',
    'ud': 'audi',
    'mw': 'bmw',
    'bm': 'bmw',
    'for': 'ford',
    'ord': 'ford', 
    'or': 'ford',
    'hyunda': 'hyundai',
    'yundai': 'hyundai',
    'yunda': 'hyundai',
    'mercedes': 'mercedes-benz',
    'mercede': 'mercedes-benz',
    'ercedes': 'mercedes-benz',
    'ercede': 'mercedes-benz',
    'mercedes benz': 'mercedes-benz',
    'koda': 'skoda',
    'skod': 'skoda',
    'kod': 'skoda',
    'toyot': 'toyota',
    'oyota': 'toyota',
    'pel': 'opel',
    'pe': 'opel',
    'ope': 'opel',
    'vw': 'volkswagen',
    'v': 'volkswagen',
    'w': 'volkswagen'
}

train['Brand'] = train['Brand'].replace(BRAND_CORRECTIONS)
train['Brand'].unique()

array(['audi', 'bmw', 'ford', 'hyundai', 'mercedes-benz', 'skoda',
       'toyota', 'opel', 'volkswagen'], dtype=object)

### model

In [18]:
train['model'].unique()

array(['A3', ' A7', ' A4', ' Q3', ' A6', ' A3', ' A5', ' TT', ' Q7',
       ' A1', ' Q2', 'A1', ' RS5', ' A8', ' Q5', ' A', ' S4', nan, ' Q',
       ' Q8', ' a3', 'A4', ' a5', ' q7', ' a6', ' RS3', ' RS6', ' RS4',
       ' q3', ' a4', ' a1', 'Q3', ' RS', ' S3', ' R8', 'A5', 'RS6', ' q5',
       'TT', ' S8', 'Q5', ' SQ5', ' q2', 'RS3', 'Q2', ' a7', ' tt', ' a',
       ' r8', 'A6', 'A8', 'Q7', 'a8', ' A2', 'Q8', ' SQ7', ' S5', ' T',
       ' s3', 'R8', 'A7', ' sq7', 'q5', ' 1 Series', ' 3 Series',
       ' 2 Series', ' 1 series', ' X1', ' X3', ' X5', '1 Series',
       ' 5 Series', ' Z4', ' 4 Series', ' X6', ' X2', ' 2 Serie',
       ' 5 Serie', ' 3 series', ' 6 Series', 'X4', ' X4', ' x5',
       ' 7 Series', ' 3 Serie', ' M3', ' M4', '2 Series', ' 4 series',
       ' 2 SERIES', ' i8', ' 5 series', ' X', ' X7', ' M2', ' x1', ' M',
       ' 3 SERIES', ' 1 SERIES', ' 4 SERIES', '4 Series', ' x',
       ' 2 series', ' M5', '5 Series', '3 Series', ' 4 Serie', ' 1 Serie',
       ' x2', ' 1 SERIE', ' Z3', ' 6 series', ' i3', 'X2', 'X5',
       ' 1 serie', 'X6', ' 6 SERIES', ' Z', ' 8 Series', ' 7 series',
       'X7', ' x3', ' 8 SERIES', ' I3', '5 SERIES', ' M6', 'X3', 'Z3',
       '6 Series', '2 Serie', '1 SERIES', ' 7 SERIES', ' 3 serie', 'M5',
       ' 2 serie', ' 4 serie', 'X1', ' 5 SERIES', 'x1', 'Z4', ' z4',
       '4 series', ' 7 Serie', 'M3', ' 8 Serie', ' 8 series', 'i3', ' m4',
       ' m3', ' i', '1 series', ' 6 Serie', '3 Serie', ' Focus', ' Focu',
       ' Fiesta', ' Kuga', ' Puma', ' ecosport', ' Ka+', 'Fiesta',
       ' Edge', ' S-MAX', ' Fusion', ' Fiest', ' EcoSport', ' fiesta',
       'Focus', ' C-MAX', ' KA', ' Grand C-MAX', 'Focu', ' Mondeo',
       ' S-MA', ' focus', 'Mondeo', ' Monde', ' Tourneo Connect',
       ' B-MAX', ' KUGA', 'Fiest', ' FIESTA', ' Galaxy', ' FOCUS',
       ' Mustang', 'Ka+', 'Grand C-MAX', ' Grand Tourneo Connect',
       ' ECOSPORT', ' Tourneo Custom', ' c-max', 'EcoSport', ' C-MA',
       ' Kug', ' kuga', 'Kuga', ' Ka', 'S-MAX', ' B-MA', ' b-max',
       ' PUMA', ' MONDEO', 'Fusion', ' mondeo', 'C-MAX', ' puma',
       ' s-max', 'focus', ' GRAND C-MAX', ' edge', 'KA', ' FOCU', ' s-ma',
       'B-MAX', ' EcoSpor', 'Tourneo Connect', 'FOCUS', 'fiesta', ' focu',
       ' Grand C-MA', ' ka', 'Mustang', ' grand c-max', ' Streetka', ' K',
       'kuga', ' ka+', ' tourneo custom', ' KA+', ' Ranger', ' galaxy',
       ' EDGE', 'Galaxy', ' MONDE', ' GALAXY', 'B-MA', ' Escort',
       ' Galax', ' mustang', ' Edg', ' Grand Tourneo Connec',
       ' Tourneo Custo', 'FIESTA', 'ka+', ' tourneo connect', ' I30',
       ' IX20', ' I10', ' I800', ' Kona', ' Tucson', ' Ioniq', ' I20',
       'I40', ' I40', ' Getz', ' i40', ' Santa Fe', ' santa fe', ' IX35',
       'Santa Fe', ' TUCSON', ' Tucso', 'Ioniq', 'I10', ' i20', 'Tucson',
       ' SANTA FE', ' Santa F', 'I20', ' tucson', ' I1', ' kona', 'IX20',
       ' i30', ' Ioni', ' I2', 'I30', ' i10', ' Terracan', ' I80',
       ' TUCSO', 'IX35', ' ix20', ' KONA', 'Kona', ' Accent', ' IX2',
       ' KON', ' Veloste', ' Kon', ' IONIQ', 'Tucso', 'IONIQ', ' ix35',
       ' ioniq', ' C Class', ' SL CLAS', ' SLK', ' GLE Class', ' A Class',
       ' GLC Class', ' C CLASS', ' E Class', ' E CLASS', ' CL Class',
       ' B Class', ' SL CLASS', ' GLA Clas', ' GLA Class', ' V Class',
       ' CLS Class', ' S Class', ' E Clas', ' CLA Class', ' X-CLASS',
       ' gla class', ' C Clas', ' GL Class', ' e class', ' glc class',
       ' cla class', 'C Class', ' c class', ' GLC CLASS', ' M Class',
       ' gle class', ' GLS Class', 'A Class', ' B Clas', ' GLE CLASS',
       ' GLA CLASS', ' A Clas', ' M CLASS', 'GLC Class', ' G Class',
       ' CLS CLASS', 'SLK', ' a class', 'E Class', ' A CLASS', ' CL Clas',
       ' GLB Class', ' CL CLASS', 'GLA Class', ' slk', ' CLC Class',
       ' x-class', 'GLE Class', 'M Class', ' GLC Clas', ' GLE Clas',
       ' s class', ' sl class', 'B Class', ' b class', ' cl class',
       'S Class', ' S Clas', 'V Class', '230', '220', 'CLA Class', ' CLK',
       ' C CLAS', 'b class', ' CLS Clas', ' B CLASS', ' v class',
       ' glb class', ' GLS CLASS', ' V CLASS', ' X-CLAS', ' GLS Clas',
       'a class', 'SL CLASS', ' cls class', ' a clas', ' m class',
       'c class', 'CL Class', 'C Clas', ' S CLASS', ' gls class',
       ' c clas', ' CLA CLASS', ' gl class', ' SL', ' x-clas', ' V Clas',
       ' GL CLASS', ' glc clas', 'CLS Class', 'CLK', '200', 'E CLASS',
       'e class', ' M Clas', 'A CLASS', 'GL Class', ' Fabia',
       ' Yeti Outdoor', ' Rapid', ' Kodiaq', ' Superb', ' Octavia',
       'Fabia', ' Octavi', ' Citigo', ' Karoq', ' Scala', ' Kamiq',
       'Karoq', ' Yeti', 'Superb', ' octavia', 'Octavia', ' KODIAQ',
       ' OCTAVIA', ' Karo', ' karoq', ' SUPERB', 'Yeti Outdoor',
       ' CITIGO', ' kodiaq', ' scala', ' super', ' FABIA', ' Kodia',
       ' SCALA', ' Fabi', ' Citig', ' yeti', ' rapid', ' yeti outdoor',
       ' citigo', 'Citigo', ' fabia', ' Yeti Outdoo', 'Roomster', ' Scal',
       ' YETI OUTDOOR', ' KAMIQ', ' superb', ' Roomster', 'Rapid',
       'Octavi', 'kodiaq', 'Kodiaq', 'Scala', ' Super', 'octavia',
       ' kamiq', 'FABIA', ' Rapi', ' Roomste', ' KAROQ', ' scal', 'Yeti',
       ' Yet', ' KAMI', ' Yaris', ' Aygo', ' C-HR', ' GT86', ' Ayg',
       ' Auris', ' RAV4', ' Prius', ' Hilux', ' Hilu', ' Land Cruiser',
       ' Supra', ' yaris', ' Corolla', ' Yari', 'Auris', ' Avensis',
       ' corolla', ' aygo', ' Auri', ' Verso', ' AYG', ' RAV', ' YARIS',
       ' Verso-S', 'Prius', ' prius', ' AURIS', ' Urban Cruiser', 'aygo',
       'RAV4', ' auris', 'Yaris', 'Aygo', ' COROLLA', ' PRIUS', ' AYGO',
       'Corolla', ' PROACE VERSO', ' C-H', ' Urban Cruise', ' c-hr',
       'rav4', ' gt86', ' hilux', ' Camry', 'C-HR', 'Supra', 'corolla',
       'Hilux', ' rav4', ' VERSO', 'Verso', ' rav', ' ayg', ' IQ',
       ' Vers', ' Land Cruise', ' verso', ' YARI', ' Coroll', ' AVENSIS',
       'RAV', ' yari', 'Yari', 'yaris', 'Avensis', ' avensis', ' Corsa',
       ' Astra', ' Crossland X', ' Zafira', ' Mokka X', ' Meriva',
       ' Insignia', ' Grandland X', ' Viva', 'Mokka', 'ASTRA', 'Astra',
       ' Mokka', ' Astr', ' corsa', ' astra', 'Zafira Tourer', 'Viva',
       ' GTC', ' ZAFIRA', ' Cors', ' viva', ' Adam', ' ASTRA', 'Corsa',
       ' Vivaro', ' Insigni', ' zafira', 'Mokka X', ' Mokka ', ' CORSA',
       ' MOKKA X', ' mokka x', ' Combo Life', ' MERIVA', 'Insignia',
       ' Antara', ' MOKKA', 'Adam', ' Meriv', ' INSIGNIA', ' insignia',
       'Zafira', ' cors', ' Mokk', ' Zafira Tourer', ' Crossland ',
       ' Kadjar', ' Zafir', ' Ada', 'gtc', ' Tigra', ' adam',
       ' ZAFIRA TOURER', ' CROSSLAND X', ' COMBO LIFE', 'Grandland X',
       ' meriva', ' mokka', 'Zafir', ' Cascada', ' grandland x',
       ' Grandland ', ' Agila', ' crossland x', ' combo life', 'GTC',
       ' ADAM', ' GRANDLAND X', ' Zafira Toure', ' gtc', 'Mokk', ' VIVA',
       ' Vectra', 'Crossland X', ' Viv', ' VECTRA', ' grandland ',
       'Mokka ', ' CORS', 'Meriva', ' INSIGNI', 'corsa', 'Combo Life',
       'astra', ' Combo Lif', 'Insigni', ' mokka ', 'Vectra',
       'COMBO LIFE', ' Ampera', ' Golf', ' T-Cross', ' Polo', ' Up',
       ' Tiguan', ' Golf SV', ' Touran', ' GOLF', ' Passat', ' Scirocco',
       ' T-Roc', ' Touareg', ' polo', ' Sharan', ' Tiguan Allspace',
       ' Arteon', ' Beetle', ' Golf S', ' Gol', ' CC', ' up',
       ' Caddy Maxi Life', ' Caravelle', ' golf', ' POLO', 'Up',
       ' GOLF SV', ' Amarok', ' Pol', ' UP', 'Sharan', 'Golf', 'Polo',
       ' U', ' caravelle', ' Jetta', ' passat', ' PASSAT', ' t-cross',
       ' tiguan', ' TIGUAN', ' California', ' Passa', ' T-ROC',
       ' touareg', 'Tiguan', 'Passat', 'Gol', ' Toura', ' touran',
       ' scirocco', 'Touareg', ' sharan', ' T-Ro', 'Touran', ' Shara',
       'polo', ' Shuttle', 'Arteo', ' Touare', 'Scirocco', ' Tigua',
       'POLO', ' t-cros', ' Caddy', ' Eos', ' T-Cros', 'Amarok',
       ' T-CROSS', ' Caddy Maxi', ' TOUAREG', 'T-Roc', ' Scirocc',
       'T-Cross', 'Beetle', ' TIGUAN ALLSPACE', ' amarok', ' JETTA',
       ' Caravell', 'TIGUAN', 'tiguan', ' SHARAN', ' Beetl', ' Arteo',
       ' Caddy Life', ' tiguan allspace', 'Golf SV', 'U',
       ' Tiguan Allspac', ' SCIROCCO', ' golf sv', 'Arteon', 'Tigua',
       ' t-roc', 'Golf S', ' gol', ' beetle', 'UP', ' T-RO', ' TOURA',
       ' cc', ' golf s', 'CC', ' Amaro', ' shuttle', ' Fox', 'golf',
       ' ARTEON', ' Caddy Maxi Lif', ' GOL', ' arteon', 'Toura',
       ' TOURAN', ' TIGUA', 'Pol'], dtype=object)

In [19]:
train['model'].unique().shape

(736,)

In [20]:
# change all values to lower case and strip starting and ending spaces
train['model'] = train['model'].str.lower().str.strip()

In [21]:
# number of unique (correct and incorrect) models in train
np.array(sorted(train['model'].dropna().unique())).shape

(296,)

In [22]:
pure_brand_model_df = pd.DataFrame(BRAND_MODEL_VOCAB)
pure_brand_model_df

             brand            model_lower          model_correct  correction
0             audi                     a1                     a1           0
1             audi                     a2                     a2           0
2             audi                     a3                     a3           0
3             audi                     a4                     a4           0
4             audi                     a5                     a5           0
5             audi                     a6                     a6           0
6             audi                     a7                     a7           0
7             audi                     a8                     a8           0
8             audi                     q2                     q2           0
9             audi                     q3                     q3           0
10            audi                     q5                     q5           0
11            audi                     q7                     q7           0
12            audi                     q8                     q8           0
13            audi                     r8                     r8           0
14            audi                    rs3                    rs3           0
15            audi                    rs4                    rs4           0
16            audi                    rs5                    rs5           0
17            audi                    rs6                    rs6           0
18            audi                     s3                     s3           0
19            audi                     s4                     s4           0
20            audi                     s5                     s5           0
21            audi                     s8                     s8           0
22            audi                    sq5                    sq5           0
23            audi                    sq7                    sq7           0
24            audi                     tt                     tt           0
25             bmw                1 serie               1 series           1
26             bmw               1 series               1 series           0
27             bmw                2 serie               2 series           1
28             bmw               2 series               2 series           0
29             bmw                3 serie               3 series           1
30             bmw               3 series               3 series           0
31             bmw                4 serie               4 series           1
32             bmw               4 series               4 series           0
33             bmw                5 serie               5 series           1
34             bmw               5 series               5 series           0
35             bmw                6 serie               6 series           1
36             bmw               6 series               6 series           0
37             bmw                7 serie               7 series           1
38             bmw               7 series               7 series           0
39             bmw                8 serie               8 series           1
40             bmw               8 series               8 series           0
41             bmw                     i3                     i3           0
42             bmw                     i8                     i8           0
43             bmw                     m2                     m2           0
44             bmw                     m3                     m3           0
45             bmw                     m4                     m4           0
46             bmw                     m5                     m5           0
47             bmw                     m6                     m6           0
48             bmw                     x1                     x1           0
49             bmw                     x2                     x2           0
50             bmw                     x3                     x3           0
51             bmw                     x4                     x4           0
52             bmw                     x5                     x5           0
53             bmw                     x6                     x6           0
54             bmw                     x7                     x7           0
55             bmw                     z3                     z3           0
56             bmw                     z4                     z4           0
57            ford                   b-ma                  b-max           1
58            ford                  b-max                  b-max           0
59            ford                   c-ma                  c-max           1
60            ford                  c-max                  c-max           0
61            ford                ecospor               ecosport           1
62            ford               ecosport               ecosport           0
63            ford                    edg                   edge           1
64            ford                   edge                   edge           0
65            ford                 escort                 escort           0
66            ford                  fiest                 fiesta           1
67            ford                 fiesta                 fiesta           0
68            ford                   focu                  focus           1
69            ford                  focus                  focus           0
70            ford                 fusion                 fusion           0
71            ford                  galax                 galaxy           1
72            ford                 galaxy                 galaxy           0
73            ford             grand c-ma            grand c-max           1
74            ford            grand c-max            grand c-max           0
75            ford   grand tourneo connec  grand tourneo connect           1
76            ford  grand tourneo connect  grand tourneo connect           0
77            ford                      k                     ka           1
78            ford                     ka                     ka           0
79            ford                    ka+                    ka+           0
80            ford                    kug                   kuga           1
81            ford                   kuga                   kuga           0
82            ford                  monde                 mondeo           1
83            ford                 mondeo                 mondeo           0
84            ford                mustang                mustang           0
85            ford                   puma                   puma           0
86            ford                 ranger                 ranger           0
87            ford                   s-ma                  s-max           1
88            ford                  s-max                  s-max           0
89            ford               streetka               streetka           0
90            ford        tourneo connect        tourneo connect           0
91            ford          tourneo custo         tourneo custom           1
92            ford         tourneo custom         tourneo custom           0
93         hyundai                 accent                 accent           0
94         hyundai                   getz                   getz           0
95         hyundai                     i1                    i10           1
96         hyundai                    i10                    i10           0
97         hyundai                     i2                    i20           1
98         hyundai                    i20                    i20           0
99         hyundai                     i3                    i30           1
100        hyundai                    i30                    i30           0
101        hyundai                    i40                    i40           0
102        hyundai                    i80                   i800           1
103        hyundai                   i800                   i800           0
104        hyundai                   ioni                  ioniq           1
105        hyundai                  ioniq                  ioniq           0
106        hyundai                    ix2                   ix20           1
107        hyundai                   ix20                   ix20           0
108        hyundai                   ix35                   ix35           0
109        hyundai                    kon                   kona           1
110        hyundai                   kona                   kona           0
111        hyundai                santa f               santa fe           1
112        hyundai               santa fe               santa fe           0
113        hyundai               terracan               terracan           0
114        hyundai                  tucso                 tucson           1
115        hyundai                 tucson                 tucson           0
116        hyundai                veloste               veloster           1
117        hyundai               veloster               veloster           0
118  mercedes-benz                    200                    200           0
119  mercedes-benz                    220                    220           0
120  mercedes-benz                    230                    230           0
121  mercedes-benz                 a clas                a class           1
122  mercedes-benz                a class                a class           0
123  mercedes-benz                 b clas                b class           1
124  mercedes-benz                b class                b class           0
125  mercedes-benz                 c clas                c class           1
126  mercedes-benz                c class                c class           0
127  mercedes-benz                cl clas               cl class           1
128  mercedes-benz               cl class               cl class           0
129  mercedes-benz              cla class              cla class           0
130  mercedes-benz              clc class              clc class           0
131  mercedes-benz                    clk                    clk           0
132  mercedes-benz               cls clas              cls class           1
133  mercedes-benz              cls class              cls class           0
134  mercedes-benz                 e clas                e class           1
135  mercedes-benz                e class                e class           0
136  mercedes-benz                g class                g class           0
137  mercedes-benz               gl class               gl class           0
138  mercedes-benz               gla clas              gla class           1
139  mercedes-benz              gla class              gla class           0
140  mercedes-benz              glb class              glb class           0
141  mercedes-benz               glc clas              glc class           1
142  mercedes-benz              glc class              glc class           0
143  mercedes-benz               gle clas              gle class           1
144  mercedes-benz              gle class              gle class           0
145  mercedes-benz               gls clas              gls class           1
146  mercedes-benz              gls class              gls class           0
147  mercedes-benz                 m clas                m class           1
148  mercedes-benz                m class                m class           0
149  mercedes-benz                 s clas                s class           1
150  mercedes-benz                s class                s class           0
151  mercedes-benz                     sl                     sl           0
152  mercedes-benz                sl clas               sl class           1
153  mercedes-benz               sl class               sl class           0
154  mercedes-benz                    slk                    slk           0
155  mercedes-benz                 v clas                v class           1
156  mercedes-benz                v class                v class           0
157  mercedes-benz                 x-clas                x-class           1
158  mercedes-benz                x-class                x-class           0
159           opel                    ada                   adam           1
160           opel                   adam                   adam           0
161           opel                  agila                  agila           0
162           opel                 ampera                 ampera           0
163           opel                 antara                 antara           0
164           opel                   astr                  astra           1
165           opel                  astra                  astra           0
166           opel                cascada                cascada           0
167           opel              combo lif             combo life           1
168           opel             combo life             combo life           0
169           opel                   cors                  corsa           1
170           opel                  corsa                  corsa           0
171           opel              crossland              crossland           0
172           opel            crossland x            crossland x           0
173           opel              grandland              grandland           0
174           opel            grandland x            grandland x           0
175           opel                    gtc                    gtc           0
176           opel                insigni               insignia           1
177           opel               insignia               insignia           0
178           opel                  meriv                 meriva           1
179           opel                 meriva                 meriva           0
180           opel                   mokk                  mokka           1
181           opel                  mokka                  mokka           0
182           opel                mokka x                mokka x           0
183           opel                  tigra                  tigra           0
184           opel                 vectra                 vectra           0
185           opel                   viva                   viva           0
186           opel                 vivaro                 vivaro           0
187           opel                  zafir                 zafira           1
188           opel                 zafira                 zafira           0
189           opel           zafira toure          zafira tourer           1
190           opel          zafira tourer          zafira tourer           0
191          skoda                  citig                 citigo           1
192          skoda                 citigo                 citigo           0
193          skoda                   fabi                  fabia           1
194          skoda                  fabia                  fabia           0
195          skoda                   kami                  kamiq           1
196          skoda                  kamiq                  kamiq           0
197          skoda                   karo                  karoq           1
198          skoda                  karoq                  karoq           0
199          skoda                  kodia                 kodiaq           1
200          skoda                 kodiaq                 kodiaq           0
201          skoda                 octavi                octavia           1
202          skoda                octavia                octavia           0
203          skoda                   rapi                  rapid           1
204          skoda                  rapid                  rapid           0
205          skoda                roomste               roomster           1
206          skoda               roomster               roomster           0
207          skoda                   scal                  scala           1
208          skoda                  scala                  scala           0
209          skoda                  super                 superb           1
210          skoda                 superb                 superb           0
211          skoda                    yet                   yeti           1
212          skoda                   yeti                   yeti           0
213          skoda            yeti outdoo           yeti outdoor           1
214          skoda           yeti outdoor           yeti outdoor           0
215         toyota                   auri                  auris           1
216         toyota                  auris                  auris           0
217         toyota                avensis                avensis           0
218         toyota                    ayg                   aygo           1
219         toyota                   aygo                   aygo           0
220         toyota                    c-h                   c-hr           1
221         toyota                   c-hr                   c-hr           0
222         toyota                  camry                  camry           0
223         toyota                 coroll                corolla           1
224         toyota                corolla                corolla           0
225         toyota                   gt86                   gt86           0
226         toyota                   hilu                  hilux           1
227         toyota                  hilux                  hilux           0
228         toyota                     iq                     iq           0
229         toyota            land cruise           land cruiser           1
230         toyota           land cruiser           land cruiser           0
231         toyota                  prius                  prius           0
232         toyota           proace verso           proace verso           0
233         toyota                    rav                   rav4           1
234         toyota                   rav4                   rav4           0
235         toyota                  suvra                  supra           1
236         toyota                  supra                  supra           0
237         toyota           urban cruise          urban cruiser           1
238         toyota          urban cruiser          urban cruiser           0
239         toyota                   vers                  verso           1
240         toyota                  verso                  verso           0
241         toyota                verso-s                verso-s           0
242         toyota                   yari                  yaris           1
243         toyota                  yaris                  yaris           0
244     volkswagen                  amaro                 amarok           1
245     volkswagen                 amarok                 amarok           0
246     volkswagen                  arteo                 arteon           1
247     volkswagen                 arteon                 arteon           0
248     volkswagen                  beetl                 beetle           1
249     volkswagen                 beetle                 beetle           0
250     volkswagen                  caddy                  caddy           0
251     volkswagen             caddy life             caddy life           0
252     volkswagen             caddy maxi             caddy maxi           0
253     volkswagen         caddy maxi lif        caddy maxi life           1
254     volkswagen        caddy maxi life        caddy maxi life           0
255     volkswagen             california             california           0
256     volkswagen               caravell              caravelle           1
257     volkswagen              caravelle              caravelle           0

In [23]:
# number of unique (correct and incorrect) models in 'vocabulary' pure_brand_model_df
np.array(sorted(pure_brand_model_df['model_lower'].dropna().unique())).shape

(288,)

In [24]:
# Explain why the count of unique models (both correct and typos) 
# differs between the 'vocabulary' (pure_brand_model_df) and the train dataset.
set1 = set(pure_brand_model_df['model_lower'].dropna().unique())
set2 = set(train['model'].dropna().unique())
print("len(set2)-len(set1)", len(set2)-len(set1))
print("set(train['model']) - set(pure_brand_model_df['model_lower'])", set2 - set1)
print("set(pure_brand_model_df['model_lower']) - set(train['model'])", set1 - set2)

len(set2)-len(set1) 8
set(train['model']) - set(pure_brand_model_df['model_lower']) {'x', 'kadjar', 't', 'viv', 'i', 'a', 'm', 'q', 'z', 'rs'}
set(pure_brand_model_df['model_lower']) - set(train['model']) {'veloster', 'suvra'}

In [25]:
# Test if there are any duplicate records for brand and model (lower case)
pure_brand_model_df[pure_brand_model_df[['brand','model_lower']].duplicated(keep=False)]

Empty DataFrame
Columns: [brand, model_lower, model_correct, correction]
Index: []

In [26]:
# Fix model names only for rows with a known (non-NaN) Brand in the input DataFrame (train/val/test).
def model_fix_wo_nan(pure_brand_model_df, input_df):
    # (brand, model_lower) -> model_correct for rows that need correction
    fix_map = (pure_brand_model_df.query("correction == 1")
               .set_index(['brand','model_lower'])['model_correct'])
    
    # replace model only where a correction exists; otherwise keep original
    keys = list(zip(input_df['Brand'], input_df['model']))
    input_df['model'] = pd.Series(keys, index=input_df.index).map(fix_map).fillna(input_df['model'])
    return input_df['model']

In [27]:
train['model'] = model_fix_wo_nan(pure_brand_model_df, train)

In [28]:
deduped_model_df = pure_brand_model_df.copy()

In [29]:
# List all rows where the model name is "i3" across brands
# BMW "i3" is correct; Hyundai "i3" is a typo (should be "i30").
deduped_model_df[deduped_model_df['model_lower'].duplicated(keep=False)]

      brand model_lower model_correct  correction
41      bmw          i3            i3           0
99  hyundai          i3           i30           1

In [30]:
# Drop Hyundai i3 rows by index from a query
deduped_model_df = deduped_model_df.drop(deduped_model_df.query("brand == 'hyundai' and model_lower == 'i3'").index)
deduped_model_df[deduped_model_df['model_lower'].duplicated(keep=False)]

Empty DataFrame
Columns: [brand, model_lower, model_correct, correction]
Index: []

In [31]:
# Fix model names only for rows with unknown (NaN) Brand in the input DataFrame (train/val/test).
def model_fix_with_nan(deduped_model_df, input_df):
    fix_map = deduped_model_df.loc[deduped_model_df['correction'] == 1].set_index('model_lower')['model_correct']
    
    mask = input_df['Brand'].isna()
    input_df.loc[mask, 'model'] = input_df.loc[mask, 'model'].map(fix_map).fillna(input_df.loc[mask, 'model'])
    return input_df['model']

In [32]:
train['model'] = model_fix_with_nan(deduped_model_df, train)

In [33]:
# Fill missing Brand values
def brand_fix_with_nan(deduped_model_df, input_df):
    # Rows where Brand is NaN in input_df
    input_df.loc[input_df["Brand"].isna()][["Brand","model"]]
    
    # Map input_df['model'] to short_brand_model_df['model_lower']
    # to fill missing Brand values in input_df with the correct brand names from short_brand_model_df.
    input_df['Brand'] = input_df['Brand'].replace('', pd.NA)  # treat empty as missing
    input_df['Brand'] = input_df['Brand'].fillna(input_df['model'].map(deduped_model_df.set_index('model_lower')['brand']))
    return input_df['Brand']

In [34]:
train['Brand'] = brand_fix_with_nan(deduped_model_df, train)

In [35]:
# The remaining records have model names NaN, a, q, or x ‚Äî these cannot be corrected and should be removed.
train.loc[train["Brand"].isna()][["Brand","model"]]

      Brand model
carID
669     NaN     a
3739    NaN   NaN
4560    NaN     q
4703    NaN   NaN
5908    NaN     a
6742    NaN   NaN
7254    NaN   NaN
7855    NaN   NaN
12064   NaN   NaN
13026   NaN   NaN
14098   NaN     x
16342   NaN   NaN
18121   NaN   NaN
18511   NaN   NaN
19115   NaN   NaN
20208   NaN   NaN
21730   NaN   NaN
24435   NaN   NaN
29268   NaN   NaN
30941   NaN   NaN
31541   NaN   NaN
37395   NaN   NaN
37901   NaN   NaN
38960   NaN   NaN
39694   NaN   NaN
44161   NaN   NaN
44351   NaN   NaN
44380   NaN   NaN
45668   NaN   NaN
46984   NaN   NaN
49814   NaN   NaN
55454   NaN   NaN
56869   NaN   NaN
59552   NaN   NaN
61305   NaN   NaN
65872   NaN   NaN
66181   NaN   NaN
68226   NaN   NaN
74195   NaN   NaN
74657   NaN   NaN

In [36]:
train = train.dropna(subset=['Brand'])         # drop rows with NaN in Brand

In [37]:
train.loc[train["Brand"].isna()][["Brand","model"]]

Empty DataFrame
Columns: [Brand, model]
Index: []

In [38]:
train.shape

(75933, 13)

In [39]:
train['Brand'].unique()

array(['audi', 'bmw', 'ford', 'hyundai', 'mercedes-benz', 'skoda',
       'toyota', 'opel', 'volkswagen'], dtype=object)

In [40]:
train[train['model'].isna()].shape

(1481, 13)

In [41]:
train = train.dropna(subset=['model'])

In [42]:
uniq_pairs = (
    train[['Brand', 'model']]
    .dropna()  # it is not necessary since all Brand and model NaN were already deleted
    .drop_duplicates()
    .sort_values(['Brand','model'])
    .reset_index(drop=True)
)
uniq_pairs

             Brand                  model
0             audi                      a
1             audi                     a1
2             audi                     a2
3             audi                     a3
4             audi                     a4
5             audi                     a5
6             audi                     a6
7             audi                     a7
8             audi                     a8
9             audi                      q
10            audi                     q2
11            audi                     q3
12            audi                     q5
13            audi                     q7
14            audi                     q8
15            audi                     r8
16            audi                     rs
17            audi                    rs3
18            audi                    rs4
19            audi                    rs5
20            audi                    rs6
21            audi                     s3
22            audi                     s4
23            audi                     s5
24            audi                     s8
25            audi                    sq5
26            audi                    sq7
27            audi                      t
28            audi                     tt
29             bmw               1 series
30             bmw               2 series
31             bmw               3 series
32             bmw               4 series
33             bmw               5 series
34             bmw               6 series
35             bmw               7 series
36             bmw               8 series
37             bmw                      i
38             bmw                     i3
39             bmw                     i8
40             bmw                      m
41             bmw                     m2
42             bmw                     m3
43             bmw                     m4
44             bmw                     m5
45             bmw                     m6
46             bmw                      x
47             bmw                     x1
48             bmw                     x2
49             bmw                     x3
50             bmw                     x4
51             bmw                     x5
52             bmw                     x6
53             bmw                     x7
54             bmw                      z
55             bmw                     z3
56             bmw                     z4
57            ford                  b-max
58            ford                  c-max
59            ford               ecosport
60            ford                   edge
61            ford                 escort
62            ford                 fiesta
63            ford                  focus
64            ford                 fusion
65            ford                 galaxy
66            ford            grand c-max
67            ford  grand tourneo connect
68            ford                     ka
69            ford                    ka+
70            ford                   kuga
71            ford                 mondeo
72            ford                mustang
73            ford                   puma
74            ford                 ranger
75            ford                  s-max
76            ford               streetka
77            ford        tourneo connect
78            ford         tourneo custom
79         hyundai                 accent
80         hyundai                   getz
81         hyundai                    i10
82         hyundai                    i20
83         hyundai                    i30
84         hyundai                    i40
85         hyundai                   i800
86         hyundai                  ioniq
87         hyundai                   ix20
88         hyundai                   ix35
89         hyundai                   kona
90         hyundai               santa fe
91         hyundai               terracan
92         hyundai                 tucson
93         hyundai               veloster
94   mercedes-benz                    200
95   mercedes-benz                    220
96   mercedes-benz                    230
97   mercedes-benz                a class
98   mercedes-benz                b class
99   mercedes-benz                c class
100  mercedes-benz               cl class
101  mercedes-benz              cla class
102  mercedes-benz              clc class
103  mercedes-benz                    clk
104  mercedes-benz              cls class
105  mercedes-benz                e class
106  mercedes-benz                g class
107  mercedes-benz               gl class
108  mercedes-benz              gla class
109  mercedes-benz              glb class
110  mercedes-benz              glc class
111  mercedes-benz              gle class
112  mercedes-benz              gls class
113  mercedes-benz                m class
114  mercedes-benz                s class
115  mercedes-benz                     sl
116  mercedes-benz               sl class
117  mercedes-benz                    slk
118  mercedes-benz                v class
119  mercedes-benz                x-class
120           opel                   adam
121           opel                  agila
122           opel                 ampera
123           opel                 antara
124           opel                  astra
125           opel                cascada
126           opel             combo life
127           opel                  corsa
128           opel              crossland
129           opel            crossland x
130           opel              grandland
131           opel            grandland x
132           opel                    gtc
133           opel               insignia
134           opel                 kadjar
135           opel                 meriva
136           opel                  mokka
137           opel                mokka x
138           opel                  tigra
139           opel                 vectra
140           opel                    viv
141           opel                   viva
142           opel                 vivaro
143           opel                 zafira
144           opel          zafira tourer
145          skoda                 citigo
146          skoda                  fabia
147          skoda                  kamiq
148          skoda                  karoq
149          skoda                 kodiaq
150          skoda                octavia
151          skoda                  rapid
152          skoda               roomster
153          skoda                  scala
154          skoda                 superb
155          skoda                   yeti
156          skoda           yeti outdoor
157         toyota                  auris
158         toyota                avensis
159         toyota                   aygo
160         toyota                   c-hr
161         toyota                  camry
162         toyota                corolla
163         toyota                   gt86
164         toyota                  hilux
165         toyota                     iq
166         toyota           land cruiser
167         toyota                  prius
168         toyota           proace verso
169         toyota                   rav4
170         toyota                  supra
171         toyota          urban cruiser
172         toyota                  verso
173         toyota                verso-s
174         toyota                  yaris
175     volkswagen                 amarok
176     volkswagen                 arteon
177     volkswagen                 beetle
178     volkswagen                  caddy
179     volkswagen             caddy life
180     volkswagen             caddy maxi
181     volkswagen        caddy maxi life
182     volkswagen             california
183     volkswagen              caravelle
184     volkswagen                     cc
185     volkswagen                    eos
186     volkswagen                    fox
187     volkswagen                    gol
188     volkswagen                   golf
189     volkswagen                golf sv
190     volkswagen                  jetta
191     volkswagen                 passat
192     volkswagen                   polo
193     volkswagen               scirocco
194     volkswagen                 sharan
195     volkswagen                shuttle
196     volkswagen                t-cross
197     volkswagen                  t-roc
198     volkswagen                 tiguan
199     volkswagen        tiguan allspace
200     volkswagen                touareg
201     volkswagen                 touran
202     volkswagen                     up

In [43]:
# rows where train['model'] is NOT in the vocabulary
bad_models = train[~train['model'].isin(pure_brand_model_df['model_lower'])]
bad_models['model'].unique()

array(['a', 'q', 'rs', 't', 'x', 'm', 'z', 'i', 'kadjar', 'viv'],
      dtype=object)

In [44]:
# Keep only rows whose model exists in the vocabulary
train = train[train['model'].isin(pure_brand_model_df['model_lower'])]

In [45]:
uniq_pairs = (
    train[['Brand', 'model']]
    .dropna()  # it is not necessary since all Brand and model NaN were already deleted
    .drop_duplicates()
    .sort_values(['Brand','model'])
    .reset_index(drop=True)
)
uniq_pairs

             Brand                  model
0             audi                     a1
1             audi                     a2
2             audi                     a3
3             audi                     a4
4             audi                     a5
5             audi                     a6
6             audi                     a7
7             audi                     a8
8             audi                     q2
9             audi                     q3
10            audi                     q5
11            audi                     q7
12            audi                     q8
13            audi                     r8
14            audi                    rs3
15            audi                    rs4
16            audi                    rs5
17            audi                    rs6
18            audi                     s3
19            audi                     s4
20            audi                     s5
21            audi                     s8
22            audi                    sq5
23            audi                    sq7
24            audi                     tt
25             bmw               1 series
26             bmw               2 series
27             bmw               3 series
28             bmw               4 series
29             bmw               5 series
30             bmw               6 series
31             bmw               7 series
32             bmw               8 series
33             bmw                     i3
34             bmw                     i8
35             bmw                     m2
36             bmw                     m3
37             bmw                     m4
38             bmw                     m5
39             bmw                     m6
40             bmw                     x1
41             bmw                     x2
42             bmw                     x3
43             bmw                     x4
44             bmw                     x5
45             bmw                     x6
46             bmw                     x7
47             bmw                     z3
48             bmw                     z4
49            ford                  b-max
50            ford                  c-max
51            ford               ecosport
52            ford                   edge
53            ford                 escort
54            ford                 fiesta
55            ford                  focus
56            ford                 fusion
57            ford                 galaxy
58            ford            grand c-max
59            ford  grand tourneo connect
60            ford                     ka
61            ford                    ka+
62            ford                   kuga
63            ford                 mondeo
64            ford                mustang
65            ford                   puma
66            ford                 ranger
67            ford                  s-max
68            ford               streetka
69            ford        tourneo connect
70            ford         tourneo custom
71         hyundai                 accent
72         hyundai                   getz
73         hyundai                    i10
74         hyundai                    i20
75         hyundai                    i30
76         hyundai                    i40
77         hyundai                   i800
78         hyundai                  ioniq
79         hyundai                   ix20
80         hyundai                   ix35
81         hyundai                   kona
82         hyundai               santa fe
83         hyundai               terracan
84         hyundai                 tucson
85         hyundai               veloster
86   mercedes-benz                    200
87   mercedes-benz                    220
88   mercedes-benz                    230
89   mercedes-benz                a class
90   mercedes-benz                b class
91   mercedes-benz                c class
92   mercedes-benz               cl class
93   mercedes-benz              cla class
94   mercedes-benz              clc class
95   mercedes-benz                    clk
96   mercedes-benz              cls class
97   mercedes-benz                e class
98   mercedes-benz                g class
99   mercedes-benz               gl class
100  mercedes-benz              gla class
101  mercedes-benz              glb class
102  mercedes-benz              glc class
103  mercedes-benz              gle class
104  mercedes-benz              gls class
105  mercedes-benz                m class
106  mercedes-benz                s class
107  mercedes-benz                     sl
108  mercedes-benz               sl class
109  mercedes-benz                    slk
110  mercedes-benz                v class
111  mercedes-benz                x-class
112           opel                   adam
113           opel                  agila
114           opel                 ampera
115           opel                 antara
116           opel                  astra
117           opel                cascada
118           opel             combo life
119           opel                  corsa
120           opel              crossland
121           opel            crossland x
122           opel              grandland
123           opel            grandland x
124           opel                    gtc
125           opel               insignia
126           opel                 meriva
127           opel                  mokka
128           opel                mokka x
129           opel                  tigra
130           opel                 vectra
131           opel                   viva
132           opel                 vivaro
133           opel                 zafira
134           opel          zafira tourer
135          skoda                 citigo
136          skoda                  fabia
137          skoda                  kamiq
138          skoda                  karoq
139          skoda                 kodiaq
140          skoda                octavia
141          skoda                  rapid
142          skoda               roomster
143          skoda                  scala
144          skoda                 superb
145          skoda                   yeti
146          skoda           yeti outdoor
147         toyota                  auris
148         toyota                avensis
149         toyota                   aygo
150         toyota                   c-hr
151         toyota                  camry
152         toyota                corolla
153         toyota                   gt86
154         toyota                  hilux
155         toyota                     iq
156         toyota           land cruiser
157         toyota                  prius
158         toyota           proace verso
159         toyota                   rav4
160         toyota                  supra
161         toyota          urban cruiser
162         toyota                  verso
163         toyota                verso-s
164         toyota                  yaris
165     volkswagen                 amarok
166     volkswagen                 arteon
167     volkswagen                 beetle
168     volkswagen                  caddy
169     volkswagen             caddy life
170     volkswagen             caddy maxi
171     volkswagen        caddy maxi life
172     volkswagen             california
173     volkswagen              caravelle
174     volkswagen                     cc
175     volkswagen                    eos
176     volkswagen                    fox
177     volkswagen                    gol
178     volkswagen                   golf
179     volkswagen                golf sv
180     volkswagen                  jetta
181     volkswagen                 passat
182     volkswagen                   polo
183     volkswagen               scirocco
184     volkswagen                 sharan
185     volkswagen                shuttle
186     volkswagen                t-cross
187     volkswagen                  t-roc
188     volkswagen                 tiguan
189     volkswagen        tiguan allspace
190     volkswagen                touareg
191     volkswagen                 touran
192     volkswagen                     up

In [46]:
train.shape

(74260, 13)

## Fix Brand and model

In [47]:
train_prod = train_raw.copy()

In [49]:
def fix_brand_model(input_df, pure_brand_model_df, deduped_model_df):
    
    input_df['Brand'] = input_df['Brand'].str.lower().str.strip()
    input_df['Brand'] = input_df['Brand'].replace(BRAND_CORRECTIONS)
    
    # change all values to lower case and strip starting and ending spaces
    input_df['model'] = input_df['model'].str.lower().str.strip()
    
    input_df['model'] = model_fix_wo_nan(pure_brand_model_df, input_df)
    input_df['model'] = model_fix_with_nan(deduped_model_df, input_df)
    input_df['Brand'] = brand_fix_with_nan(deduped_model_df, input_df)

    input_df = input_df.dropna(subset=['Brand', 'model'])

    # Keep only rows whose model exists in the vocabulary
    input_df = input_df[input_df['model'].isin(pure_brand_model_df['model_lower'])]
    return input_df

In [50]:
train_prod = fix_brand_model(train_prod, pure_brand_model_df, deduped_model_df)

In [51]:
train_prod.shape

(74260, 13)

In [ ]:
# Filter rows where Brand is 'v', 'w', or NaN and show unique model values in a dataframe
# mask = x_train_val['Brand'].isin(['v', 'w']) | x_train_val['Brand'].isna()
mask_w = x_train['Brand'].isin(['w']) 
unique_models_df = x_train.loc[mask_w, ['Brand', 'model']].drop_duplicates().reset_index(drop=True)
unique_models_df

In [ ]:
mask_v = x_train['Brand'].isin(['v']) 
unique_models_df = x_train.loc[mask_v, ['Brand', 'model']].drop_duplicates().reset_index(drop=True)
unique_models_df

In [ ]:
# lowercase model
x_train['model'] = x_train['model'].str.lower().str.strip()
x_val['model'] = x_val['model'].str.lower().str.strip()
len(x_train['model'].unique())

In [ ]:
uniq_models = (
    x_train[['model', 'Brand']]
    .drop_duplicates(subset='model', keep='first')
    .sort_values(by=['Brand', 'model'])
    .reset_index(drop=True)
)
uniq_models

In [ ]:
#replace every model that as 'clas' and not 'class' and replace 'clas' with 'class'
x_train['model'] = x_train['model'].str.replace(r'\bclas\b', 'class', regex=True)
x_val['model'] = x_val['model'].str.replace(r'\bclas\b', 'class', regex=True)

#replace every model that as 'serie' and not 'series' and replace 'serie' with 'series'
x_train['model'] = x_train['model'].str.replace(r'\bserie\b', 'series', regex=True)
x_val['model'] = x_val['model'].str.replace(r'\bserie\b', 'series', regex=True)

#replace every model that as 'ma' and not 'max' and replace 'ma' with 'max'
x_train['model'] = x_train['model'].str.replace(r'\bma\b', 'max', regex=True)
x_val['model'] = x_val['model'].str.replace(r'\bma\b', 'max', regex=True)

In [ ]:
# drop the rows where model is 'a','q','i','m','x','z','rs'
x_train = x_train[~x_train['model'].isin(['a','q','i','m','x','z','rs','t'])]
x_val = x_val[~x_val['model'].isin(['a','q','i','m','x','z','rs','t'])]

In [ ]:
corrections = [
  {"brand": "ford", "model_lower": "tourneo custo", "model_correct": "tourneo custom"},
  {"brand": "ford", "model_lower": "monde", "model_correct": "mondeo"},
  {"brand": "ford", "model_lower": "focu", "model_correct": "focus"},
  {"brand": "ford", "model_lower": "fiest", "model_correct": "fiesta"},
  {"brand": "ford", "model_lower": "streetka", "model_correct": "street ka"},
  {"brand": "ford", "model_lower": "galax", "model_correct": "galaxy"},
  {"brand": "ford", "model_lower": "grand tourneo connec", "model_correct": "grand tourneo connect"},
  {"brand": "ford", "model_lower": "ecospor", "model_correct": "ecosport"},
  {"brand": "ford", "model_lower": "kug", "model_correct": "kuga"},
  {"brand": "ford", "model_lower": "edg", "model_correct": "edge"},
  {"brand": "hyundai", "model_lower": "i1", "model_correct": "i10"},
  {"brand": "hyundai", "model_lower": "i2", "model_correct": "i20"},
  {"brand": "hyundai", "model_lower": "i80", "model_correct": "i800"},
  {"brand": "hyundai", "model_lower": "ioni", "model_correct": "ioniq"},
  {"brand": "hyundai", "model_lower": "ix2", "model_correct": "ix20"},
  {"brand": "hyundai", "model_lower": "kon", "model_correct": "kona"},
  {"brand": "hyundai", "model_lower": "santa f", "model_correct": "santa fe"},
  {"brand": "hyundai", "model_lower": "tucso", "model_correct": "tucson"},
  {"brand": "opel", "model_lower": "ada", "model_correct": "adam"},
  {"brand": "opel", "model_lower": "astr", "model_correct": "astra"},
  {"brand": "opel", "model_lower": "combo lif", "model_correct": "combo life"},
  {"brand": "opel", "model_lower": "cors", "model_correct": "corsa"},
  {"brand": "opel", "model_lower": "insigni", "model_correct": "insignia"},
  {"brand": "opel", "model_lower": "meriv", "model_correct": "meriva"},
  {"brand": "opel", "model_lower": "mokk", "model_correct": "mokka"},
  {"brand": "opel", "model_lower": "viv", "model_correct": "viva"},
  {"brand": "opel", "model_lower": "zafir", "model_correct": "zafira"},
  {"brand": "opel", "model_lower": "zafira toure", "model_correct": "zafira tourer"},
  {"brand": "skoda", "model_lower": "citig", "model_correct": "citigo"},
  {"brand": "skoda", "model_lower": "fabi", "model_correct": "fabia"},
  {"brand": "skoda", "model_lower": "karo", "model_correct": "karoq"},
  {"brand": "skoda", "model_lower": "kodia", "model_correct": "kodiaq"},
  {"brand": "skoda", "model_lower": "octavi", "model_correct": "octavia"},
  {"brand": "skoda", "model_lower": "rapi", "model_correct": "rapid"},
  {"brand": "skoda", "model_lower": "scal", "model_correct": "scala"},
  {"brand": "skoda", "model_lower": "super", "model_correct": "superb"},
  {"brand": "skoda", "model_lower": "yet", "model_correct": "yeti"},
  {"brand": "skoda", "model_lower": "yeti outdoo", "model_correct": "yeti outdoor"},
  {"brand": "toyota", "model_lower": "auri", "model_correct": "auris"},
  {"brand": "toyota", "model_lower": "ayg", "model_correct": "aygo"},
  {"brand": "toyota", "model_lower": "c-h", "model_correct": "c-hr"},
  {"brand": "toyota", "model_lower": "coroll", "model_correct": "corolla"},
  {"brand": "toyota", "model_lower": "hilu", "model_correct": "hilux"},
  {"brand": "toyota", "model_lower": "land cruise", "model_correct": "land cruiser"},
  {"brand": "toyota", "model_lower": "rav", "model_correct": "rav4"},
  {"brand": "toyota", "model_lower": "urban cruise", "model_correct": "urban cruiser"},
  {"brand": "toyota", "model_lower": "vers", "model_correct": "verso"},
  {"brand": "toyota", "model_lower": "yaris", "model_correct": "yaris"},
  {"brand": "v", "model_lower": "pol", "model_correct": "polo"},
  {"brand": "volkswagen", "model_lower": "amaro", "model_correct": "amarok"},
  {"brand": "volkswagen", "model_lower": "arteo", "model_correct": "arteon"},
  {"brand": "volkswagen", "model_lower": "caddy maxi lif", "model_correct": "caddy maxi life"},
  {"brand": "volkswagen", "model_lower": "caravell", "model_correct": "caravelle"},
  {"brand": "volkswagen", "model_lower": "gol", "model_correct": "golf"},
  {"brand": "volkswagen", "model_lower": "golf s", "model_correct": "golf sv"},
  {"brand": "volkswagen", "model_lower": "passa", "model_correct": "passat"},
  {"brand": "volkswagen", "model_lower": "pol", "model_correct": "polo"},
  {"brand": "volkswagen", "model_lower": "scirocc", "model_correct": "scirocco"},
  {"brand": "volkswagen", "model_lower": "t-cros", "model_correct": "t-cross"},
  {"brand": "volkswagen", "model_lower": "tigua", "model_correct": "tiguan"},
  {"brand": "volkswagen", "model_lower": "tiguan allspac", "model_correct": "tiguan allspace"},
  {"brand": "volkswagen", "model_lower": "touare", "model_correct": "touareg"},
  {"brand": "volkswagen", "model_lower": "toura", "model_correct": "touran"},
  {"brand": "volkswagen", "model_lower": "t-ro", "model_correct": "t-roc"},
  {"brand": "volkswagen", "model_lower": "u", "model_correct": "up"},
  {"brand": "volkswagen", "model_lower": "sharan", "model_correct": "sharan"},
  {"brand": "volkswagen", "model_lower": "beetle", "model_correct": "beetle"},
  {"brand": "w", "model_lower": "u", "model_correct": "up"},
  {"brand": "w", "model_lower": "gol", "model_correct": "golf"},
  {"brand": "w", "model_lower": "t-cros", "model_correct": "t-cross"},
]

In [ ]:
# make the model corrections in x_train
for correction in corrections:
    model_lower = correction["model_lower"]
    model_correct = correction["model_correct"]
    
    mask = (x_train['model'] == model_lower)
    x_train.loc[mask, 'model'] = model_correct

# make the model corrections in x_val
for correction in corrections:
    model_lower = correction["model_lower"]
    model_correct = correction["model_correct"]
    
    mask = (x_val['model'] == model_lower)
    x_val.loc[mask, 'model'] = model_correct

### clean Brand Nan values

In [ ]:
mask_na = x_train['Brand'].isna()
unique_models_df = x_train.loc[mask_na, ['Brand', 'model']].drop_duplicates().reset_index(drop=True)
unique_models_df

In [ ]:
# map model names to their respective brands
model2brand = dict(zip(x_train["model"], x_train["Brand"]))

# with the model2brand dictionary, replace Nan, v or w values in 'Brand' column based on 'model' column
#for x_train
mask = x_train['Brand'].isin(['v', 'w']) & x_train['model'].isin(model2brand)
x_train.loc[mask, "Brand"] = x_train.loc[mask, "model"].map(model2brand)


mask_na = x_train["Brand"].isna() & x_train["model"].isin(model2brand)
x_train.loc[mask_na, "Brand"] = x_train.loc[mask_na, "model"].map(model2brand)

#drop rows where Brand is still NaN
x_train = x_train.dropna(subset=['Brand']).reset_index(drop=True)

#for x_val
mask_val = x_val['Brand'].isin(['v', 'w']) & x_val['model'].isin(model2brand)
x_val.loc[mask_val, "Brand"] = x_val.loc[mask_val, "model"].map(model2brand)

mask_val_na = x_val["Brand"].isna() & x_val["model"].isin(model2brand)
x_val.loc[mask_val_na, "Brand"] = x_val.loc[mask_val_na, "model"].map(model2brand)

#drop rows where Brand is still NaN
x_val = x_val.dropna(subset=['Brand']).reset_index(drop=True)

In [ ]:
x_train['model'].unique()

In [ ]:
x_train.isna().sum()

### year

In [ ]:
x_train['year'].unique()

In [ ]:
x_train['year'].isna().sum()

### price

### transmission

### mileage

### fuelType

### tax

### mpg

### engineSize

### paintQuality%

### previousOwners

### hasDamage

# Make sure the variable types are correctly identified

# Identifier
id_vars = ["carID"]

# Categorical variables (nominal, not ordered)
cat_vars = [
    "Brand",
    "model",
    "transmission",
    "fuelType"
]

# Ordinal variables (ordered but discrete)
ord_vars = [
    "year",
    "previousOwners"
]

# Continuous numerical variables
cont_vars = [
    "mileage",
    "tax",
    "mpg",
    "engineSize",
    "paintQuality%"
]

# Boolean variables
bool_vars = [
    "hasDamage"
]

# Variable groups in a dictionary
var_types = {
    "identifier": id_vars,
    "categorical": cat_vars,
    "ordinal": ord_vars,
    "continuous": cont_vars,
    "boolean": bool_vars
}

# Display 
for k, v in var_types.items():
    print(f"{k.capitalize():<12}: {v}")

In [ ]:
# convert the variable types
for col in var_types['categorical']:
    X_train[col] = X_train[col].astype('category')
    X_val[col] = X_val[col].astype('category')

for col in var_types['ordinal']:
    X_train[col] = X_train[col].astype('category')
    X_val[col] = X_val[col].astype('category')

for col in var_types['continuous']:
    X_train[col] = X_train[col].astype('float')
    X_val[col] = X_val[col].astype('float')

for col in var_types['boolean']:
    X_train[col] = X_train[col].astype('bool')
    X_val[col] = X_val[col].astype('bool')

In [ ]:
X_train.info()

## Understanding the target variable

In [ ]:
train['price'].isna().sum()

In [ ]:
train['price'].describe()

In [ ]:
histogram_boxplot(df, 'price', kde=True, dropna=False)

In [ ]:
sns.set_style("ticks")
sns.boxplot(x = train["price"])
plt.show()

In [ ]:
y = train['price']
X = train.drop(columns=['price'])

# stratify by bins helps to mantain the distribution between train and val data, used log because price is very skewed
y_bins = pd.qcut(np.log1p(y), q=10, duplicates='drop')

X_train_val, X_test, y_train_val, y_test = train_test_split(X, y,
                                            test_size=0.30,
                                            stratify=y_bins,
                                            random_state=42)

#random_state mantains the same exact distribution, so train and val will always have the same observations (every time you run this code)(42 its just a random number, could be anything)

In [ ]:
X_train_val

# **Data exploration**

# Numerical variables

In [ ]:
X_train.describe().T

- **Count is different in every variable (because of nan values)** ‚Äî figure out what to do to nan values
- ***hasDamage* as only 0's**¬†‚Äî delete the variable because is useless
- ***previousOwners* has negative values and max values is not int** ‚Äî figure out what to do to negative and non int values
- **Max value of *paintQuality* is above 100%** ‚Äî not sure if its supposed to
- ***engineSize* has negative values** ‚Äî try to understand why and what do to abt it
- ***mpg (miles per gallon)* has negative values** ‚Äî try to understand why and what do to abt it
- ***tax* has negative values** ‚Äî try to understand why
- ***mileage* has negative values** ‚Äî try to understand why
- ***years* seems fine** ‚Äî maybe evaluate if non int values make sense

### nan values count

In [ ]:
X_train.isna().sum()

## Numerical Variables more in dept:

### *‚ÄîpreviousOwners‚Äî*

there's like 600 observations with non int values

In [ ]:
X_train['previousOwners'].unique()

In [ ]:
#X_train.loc[train['previousOwners'] > (4), ['previousOwners']]
train.loc[train['previousOwners'] < (0), ['previousOwners']]

### *‚Äî paintQuality% ‚Äî*

1565 weird values, 1066 of them are nan

In [ ]:
X_train['paintQuality%'].unique()

In [ ]:
X_train.loc[train['paintQuality%'] != round(train['paintQuality%']), ['paintQuality%']]

### *‚Äî engineSize ‚Äî*

Only a few rows of negative values

In [ ]:
X_train.loc[train['engineSize'] < (0), ['engineSize']]

### *‚Äîmpg‚Äî*

The negative observations value is always "-43.42176751" and theres only a few of them

In [ ]:
X_train['mpg'].unique()

In [ ]:
X_train.loc[train['mpg'] < (0), ['mpg']]

### *‚Äî tax ‚Äî*

There's 262 negative values

In [ ]:
X_train['tax'].unique()

In [ ]:
X_train.loc[train['tax'] < (0), ['tax']]

### *‚Äî mileage ‚Äî*

There's 271 negative values

In [ ]:
X_train.loc[train['mileage'] < (0), ['mileage']]

# Categorical variables

In [ ]:
X_train.describe(include = 'object').T

- **Count is different (nan values)**

## Categorical variables more in dept:

Misspelling, spaces and uppercase/lowercase are problems (also nan)

In [ ]:
X_train['Brand'].unique()

In [ ]:
X_train['model'].unique()

In [ ]:
X_train['transmission'].unique()

In [ ]:
X_train['fuelType'].unique()

##### With *"train['carID'].is_unique"* done above, we saw that every carID was different so we should assume that the duplicates are actually different cars

In [ ]:
X_train.duplicated().sum()

In [ ]:
#test test test